.content {
  display: flex;
  .left {
    width: 200px;
    background-color: #eaeaea;
    padding: 10px;
    box-sizing: border-box;
    .item {
      padding: 10px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
      // cursor: move;
    }
  }
  .center {
    width: 1200px;
    height: 600px;
    border: #ccc 1px solid;
    margin-left: 20px;
    .grid {
      width: 100%;
      height: 100%;
      display: grid;
      // grid-template-columns: repeat(3, 1fr);
      grid-template-columns: 400px 400px 400px;
      // grid-template-rows: repeat(3, 1fr);
      grid-template-rows: 200px 200px 200px;
      // grid-gap: 10px;
      .grid_item {
        // background-color: #ddd;
        // padding: 20px;
        width: 100%;
        height: 100%;
        text-align: center;
        font-size: 24px;
        .chartWarp{
          // pointer-events: none;
          width: 100%;
          height: 100%;
        }
      }
      .grid_item1{
        grid-area: 1 / 1 / 2 / 2;
      }
    }
  }
}
