.content {
  display: flex;
  .left {
    width: 200px;
    background-color: #eaeaea;
    padding: 10px;
    box-sizing: border-box;
    .item {
      padding: 10px;
      border: 1px solid #ccc;
      margin-bottom: 10px;
    }
  }
  .center {
    // width: 1200px;
    // height: 600px;
    // width: 900px;
    // height: 1200px;
    border: #ccc 1px solid;
    margin-left: 20px;
    .grid {
      width: 100%;
      height: 100%;
      display: grid;
      // grid-template-columns: 400px 400px 400px;
      // grid-template-rows: 200px 200px 200px;
      grid-template-columns: 200px 200px 200px;
      grid-template-rows: 220px 220px 220px;
      background-color: #dbe2ec;
      .grid_item {
        background-color: #fff;
        width: 100%;
        height: 100%;
        border: 1px solid #f0f0f0;
        position: relative;

        .chartWarp {
          position: relative;
          z-index: 5;
          width: 100%;
          height: 100%;

          // &::after {
          //   content: "";
          //   height: 100%;
          //   width: 1px;
          //   cursor: col-resize;
          //   position: absolute;
          //   right: 0;
          //   top: 0;
          //   z-index: 8;
          // }

          .arrowTop {
            width: 100%;
            height: 8px;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 8;
            cursor: row-resize;
          }
          .arrowRight {
            width: 8px;
            height: 100%;
            position: absolute;
            top: 0;
            right: 0;
            z-index: 8;
            cursor: col-resize;
          }
          .arrowBottom {
            width: 100%;
            height: 8px;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 8;
            cursor: row-resize;
          }
          .arrowLeft {
            width: 8px;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 8;
            cursor: col-resize;
          }
        }
      }
    }
  }
}
.edit {
  .eidtBox {
    width: 300px;
    height: 200px;
    position: relative;
    border: 1px solid #ccc;
    .iconBox {
      position: absolute;
      .antdicon {
        position: relative;
        color: #155bfe8d;
        &:hover {
          color: #155bfed0;
        }
      }
    }

    .topIconBox {
      // display: none;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }
    .bottomIconBox {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
    }
    .leftIconBox {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
    }
    .rightIconBox {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: flex;
      flex-direction: column;
    }

    .iconup {
      top: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .icondown {
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
    }
    .iconleft {
      top: 50%;
      left: 0;
      transform: translateY(-50%);
    }
    .iconright {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
    }
  }
}
